.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-confirmed,
.info-deaths,
.info-recovered {
  font-size: 16px;
  margin-top: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.leaflet-container {
  width: 800px;
  height: 800px;
}
@media only screen and (max-width: 1280px) {
  .leaflet-container {
    width: 100%;
  }
}
